{% load judge_review %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for article in articles %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Title : {{ article.title }}</h5>
                <p class="card-text text-start">Description : {{ article.description }}</p>
              </div>
                <div class="card-footer">
                <small class="text-muted">Last updated : {{ article.updated }}</small>
                    <br>
                <small class="text-muted">judge Comments : {{ article.review_set | filter_review_body }}</small>
                    <br>
                        <div class="">
                            <a href="{% url 'userPanel_module:edit_article' article_id=article.id %}" class="btn btn-danger btn-md mt-3">Edit Article</a>
                            <a href="{% url 'userPanel_module:show_article' article_id=article.id %}" class="btn btn-primary btn-md mt-3">Show Article</a>
                        </div>
                    </div>
            </div>
          </div>
    {% endfor %}

</div>