{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card my-5">
                        <div class="card-title text-center fw-bold fs-1">
                           Article : {{ article.title }}
                        </div>
                        <div class="card-body">
                            <p>
                                <span class="fs-5 fw-bold">Desciption : </span>
                                {{ article.description }}
                            </p>
                            <p>
                                <span class="fs-5 fw-bold">Uploded Article : </span>
                                <a href="{{ article.file.url }}">{{ article.file.name }}</a>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small>last update : {{ article.updated }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <h2 class="text-center">Comments : </h2>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4 my-2">
                    {% for review in reviews %}
                          <div class="col">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Judge By : {{ review.owner.user.full_name }}</h5>
                                <p class="card-text text-start">Comment : {{ review.body|safe}}</p>
                              </div>
                                <div class="card-footer">
                                <small class="text-muted">Last updated : {{ review.updated }}</small
                                </div>
                            </div>
                      </div>
                {% endfor %}
</div>
        </div>
    </main>
{% endblock %}