{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="auth">
        <div class="card">
          <div class="auth__header text-center">
            <a href="{% url 'articles:articles' %}">
{#              <img src="{% static 'images/icon.svg' %}" alt="icon" />#}
            </a>
            <h3>Reset Password</h3>
            <p>Create a new developer account</p>
          </div>
        {% if validlink %}
          
          <form method="POST" action="" class="form auth__form">
            {% csrf_token %} {% for field in form %}
            <div class="form__field">
              <label for="formInput#text">{{field.label}}</label>
              {{field}}
      
              {% for error in field.errors %}
              <p style="color: red">{{error}}</p>
              {% endfor %}
            </div>
      
            {% endfor %}
      
            <div class="auth__actions">
              <input class="btn btn--sub btn--lg" type="submit" value="Change" />
            </div>
          </form>
          {% else %}
          <p>this link is not valid. please try again.</p>
        {% endif %}
          <div class="auth__alternative">
            <p>Remembered your password?</p>
            <a href="{% url 'account:login' %}">Log In</a>
          </div>
        </div>
    </div>
    
{% endblock %}