<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for review in reviews %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Article Title : {{ review.article.title }}</h5>
                <h5 class="card-title">Article Owner : {{ review.article.owner.full_name }}</h5>
                <p class="card-text text-start">Article Description : {{ review.article.description  }}</p>
              </div>
                <div class="card-footer">
                <small class="text-muted">Article Created Date : {{ review.article.created  }}</small>
                    <br>
{#                <small class="text-muted">judge Comments : {{ article.review_set }}</small>#}
                    <br>
                        <div class="">
                            <a class="btn btn-danger btn-md mt-3">Edit Article</a>
                            <a class="btn btn-primary btn-md mt-3">Show student Deatils</a>
                        </div>
                    </div>
            </div>
          </div>
    {% endfor %}

</div>