{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
            <div class="row my-4">
                <div class="offset-md-1 col-md-8">
                    <div class="card">
                        <div class="card-title text-center fw-bold my-2">
                            add new Review for article : {{ review.article.title }}
                        </div>
                        <div class="card-body">
                            <div class="my-3">
                                <h1>Article description :</h1>
                                <p>{{ review.article.description }}</p>
                            </div>
                            <h1>Your Review : </h1>
                            <form
                                method="post"
                                action="{% url 'userPanel_module:edit_review' review_id=review.id %}"
                            >
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ review_form.body|safe }}
                                </div>
                                <div class="mb-3">
                                    <label>{{ review_form.score.label }} : </label>
                                    {{ review_form.score }}
                                    {% for error in  review_form.score.errors  %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-md w-25">
                                    send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center">
                        <div class="card-title fs-4">
                            Article Info Section
                        </div>
                        <div class="card-body">
                            <p>Article Owner : {{ review.article.owner.full_name }}</p>
                            <p>Article Title : {{ review.article.title }}</p>
                            <p>Article Publish Date : {{ review.article.created }}</p>
                            <p>Your Last Review Date : {{ review.updated }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}