{% extends 'base.html' %} {% load static %} {% block content %}

<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="{% url 'articles:articles' %}">
{#        <img src="{% static 'images/icon.svg' %}" alt="icon" />#}
      </a>
      <h3>Register an Account</h3>
      <p>Create a new developer account</p>
    </div>

    <form method="POST" action="" class="form auth__form">
      {% csrf_token %} {% for field in form %}
      <div class="form__field">
        <label for="formInput#text">{{field.label}}</label>
        {{field}}

        <!-- {% if field.help_text %}
                <small>{{field.help_text}}</small>
                {% endif %} -->

        {% for error in field.errors %}
        <p style="color: red" class="alert alert-danger">{{error}}</p>
        {% endfor %}
      </div>

      {% endfor %}

      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Submit" />
      </div>
    </form>
    <div class="auth__alternative">
      <p>Already have an Account?</p>
      <a href="">Log In</a>
    </div>
  </div>
</div>

{% endblock content %}
